h1 {
    
    
   
    color: white;
    font-family: 'Rochester', cursive;
    font-weight: 300;
    font-size: 80px;
}
p{
    
    color: white;
      padding: 20px;
      padding-left:60px; 

    
}

body {
   background-color: black;
<<<<<<< HEAD
    background-image: url(../img/image.JPG);
    
=======
      background-image: url(../img/image.JPG);
    background-size: cover;
   
    
   
>>>>>>> e632106361206a89d6dda7d7c15e1993c591e7a2
        
     background-repeat: no-repeat;
     background-position: right 10%;
    padding-left: 50px;
  
    
}

  a{
    background-color: transparent;
    color: white;
        text-decoration: none !important;
          box-sizing: inherit;
      font-family: 'Indie Flower', cursive;
       font-size: 30px;
       padding: 20px;
      padding-left:60px; 

     
    }

a:hover {
    
    color: aqua;
}
